body {
  background-color: #F0F0F0;
}
img {
    height: 100%;
    width: 100%;      
    border-radius: 25px;
    object-fit: fill;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  li {
    font-family:  'Prompt', serif;
    color: #3C486B;
  }

  p {
    font-family:  'Prompt', serif;
    color: #3C486B;
  }

  h1 {
    font-family:  'Prompt', serif;
    color: #F9D949;
  }
  
  h2 {
    font-family:  'Prompt', serif;
    color: #F45050;
  }

  h3{
    font-family:  'Prompt', serif;
    color: #3C486B;
  }

  #num{
    font-family:  fantasy;
    font-size: 100px;
  }