body {
  background-color: #F0F0F0;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: fill;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

body, li, p, h1, h2, h3 {
  font-family: 'Prompt', sans-serif;
}

#num {
  font-family: fantasy;
  font-size: 100px;
}

#empty {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}

#free {
  color: rgb(255, 255, 255);
}

.components {
  color: black;
}

h2 {
  color: #EB8317;
}

img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 300px; /* Prevents image from being too large */
  border-radius: 0; /* Remove rounded borders */
}
